body {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; 
}

.pokemon {
  padding: 5px;
  margin: 10px;
  width: 15%;
  border-color: red;
  border-style: solid;
  border-radius: 20px;
}
